<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Common -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Site specific -->
    <title>Metalsmith Blog Bootstrap</title>
    {{!-- <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous"> --}}

    <link rel="stylesheet" href="/css/bootstrap.css">
    {{!-- <link rel="stylesheet" href="/css/overrides.css"> --}}

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="row" style="border: 1px solid #DDD; margin: 20px; padding: 20px">
        <div class="col-md-12">
                    <h2><a href="/">Blindtext Blog</a></h2>
                    <p>Ein toller Blog.</p>
                    <hr />
                </div>
  



    
        

            