{{> header}}

<div class="container-fluid" >
            <div class='row'>
                
                <div class="row" style="margin: 1px; padding: 1px">
                    <div class="col-md-8" style="border: 1px solid #DDD">
                        <ul>
                           {{#each collections.posts}}

                            {{> posts-list-item }}                          

                        {{/each}}
                        </ul>
                    </div>
                    <div class="col-md-4" style="border: 1px solid #DDD">
                        <h4>Aktuelle  Artikel</h4>
                        <p>Vergangenes:</p>
                        <ul>
                             {{#each collections.posts}}

                            {{> posts-list-item-noShort }}                          

                        {{/each}}
                        </ul>                       
                    </div>
                </div>
            </div>
        </div>



{{> footer}}