{{> header}}

<!--<a href="/blog?from=back_from_post_top">&larr; back to Index</a>-->



<div class="container-fluid" >
            <div class='row'>
                <div class="row" style="margin: 5px; padding: 5px">
                    <div class="col-md-8" style="border: 1px solid #DDD">
                        <div class="row">
                            <h2>{{title}}</h2>
                        </div>
                        <div class="row">
                            {{{contents}}}
                        </div>
                       
                    </div>
                    <div class="col-md-4" style="border: 1px solid #DDD">
                        <h4>Aktuelle Artikel</h4>
                        <p>Vergangenes:</p>
                        <ul>
                            
                        </ul>                       
                    </div>
                </div>
            </div>
        </div>


<a href="/">&larr; back to Index</a>

{{> footer}}